{% extends "registros/base.html" %}
{% load staticfiles %}
{% block css %}
  <link href="{% static "css/3-col-portfolio.css" %}" rel="stylesheet">
  <style media="screen">
    a {
      color: darkslategray;
    }
    .containertable{
      max-height: 300px;
      overflow-y: auto;
    }
  </style>
{% endblock css%}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <br><br>
      <!-- Page Heading -->
      {% block alert %}
      {% endblock alert %}
      <div class="d-flex row">
      <div class="order-lg-2 col-lg-4 col-sm-12 col-12">
        <br>
        <form method="post" action="{% url "crearreg" %}">
          {% csrf_token %}
        <ul class="list-group">
          <li class="list-group-item lead">REGISTRAR PEDIDO: </li>
          <li class="list-group-item">Dispositivo: {{ register_form.dispositivo }}</li>
          <li class="list-group-item">Estudiante: {{ register_form.estudiante }}</li>
          <li class="list-group-item">Cantidad: {{ register_form.cantidad }}</li>
          <li class="list-group-item">Devuelto: {{ register_form.devuelto }}</li>
          <li class="list-group-item">Estado: <textarea name="{{ register_form.estado.name }}" required id="id_{{ register_form.estado.name }}" style="width:100%" ></textarea></li>
          <li class="list-group-item"><button class="btn btn-outline-primary" type="submit">Registrar</button> </li>
        </ul>
      </form>
        <br>
      </div>
      <div class="order-lg-1 col-lg-8 col-sm-12 col-12">
        <h1 class="lead">Lista de pedidos.</h1>
        <div class="containertable">
      <table class="table table-striped table-hover table-sm table-responsive-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Fecha de pedido</th>
          <th scope="col">Tipo</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Estudiante</th>
          <th scope="col">Cod. Estudiante</th>
          <th scope="col">Devuelto</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
      {% for reg in dispo_reg reversed %}
      <tr>
      <td><b>{{reg.created_at}}</b></td>
      <td>{{reg.dispositivo}}</td>
      <td>{{reg.cantidad}}</td>
      <td>{{reg.estudiante}}</td>
      <td>{{reg.estudiante.codigo}}</td>
      <td>{{reg.devuelto}}</td>
      <td>{{reg.estado}}</td>
    </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
      <h1 class="lead">Lista de dispositivos.</h1>  
      <div class="containertable">    
      <table class="table table-striped table-hover table-sm table-responsive-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Tipo</th>
          <th scope="col">Serial</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      {% for dispositivo in dispositivos %}
      <tr>
      <td><b>{{dispositivo.tipo|title}}</b></td>
      <td>{{dispositivo.serial}}</td>
      <td>{{dispositivo.cantidad|title}}</td>
      <td><b>{{dispositivo.estado}}</b></td>
    </tr>
      {% endfor %}
    </table>
  </div>
    <h1 class="lead">Lista de estudiantes.</h1>      
      
      <div class="containertable">
        <table class="table table-striped table-hover table-sm table-responsive-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Nombre</th>
          <th scope="col">Telefono</th>
          <th scope="col">Carrera</th>
        </tr>
      </thead>
      {% for estudiante in estudiantes %}
      <tr>
      <td><b>{{estudiante.codigo|title}}</b></td>
      <td>{{estudiante.nombre}}</td>
      <td>{{estudiante.telefono|title}}</td>
      <td><b>{{estudiante.carrera}}</b></td>
    </tr>
      {% endfor %}
    </table>
  </div>
    </div>
    </div>
    </div>
{% endblock content%}